@use '../../common/styles/fluidType' as fluidType;

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

$min_width: 320px;
$max_width: 1080px;
$min_logo_font: 16px;
$max_logo_font: 20px;

.logo-container {
  @include fluidType.fluid-font-size($min_width, $max_width, $min_logo_font, $max_logo_font);
  background: #232323;
  color: #ccc;
  display: inline-block;
  font-family: "Open Sans";
  padding: 20px;
  position: relative;
  text-decoration: none;
  transition: text-shadow 10s, filter 10s;
  white-space: nowrap;
  user-select: none;
  z-index: 10000;
}

.logo-container:hover {
  cursor: pointer;
}

.logo-container--is-loading-fonts {
  visibility: hidden;
}

.logo__text--electric-blue {
  color: #eff8ff;
}

.logo__text--electric-blue:hover {
  animation: neon-fadeout .3s ease-in-out forwards;
}

.logo__text--electric-blue-glow {
  filter: drop-shadow(0 0 1px #fff8) drop-shadow(0 0 5px #fffa) drop-shadow(0 0 10px #228dffcc);
}

.logo--eftect {
  filter: drop-shadow(0 0 1px #fff8) drop-shadow(0 0 5px #fffa) drop-shadow(0 0 10px #228dffcc);
}

.logo--effect1 {
  animation: pop-in 1.1s step-end forwards;
}

.logo--effect2 {
  animation: pop-in 1.35s step-end forwards;
}

.logo--effect3 {
  animation: pop-in 1.55s step-end forwards;
}

.logo--effect4 {
  animation: pop-in 1.85s step-end forwards;
}

.logo--effect5 {
  animation: pop-in 2.25s step-end forwards;
}

.logo--effect6 {
  animation: pop-in 2.67s step-end forwards;
}

.logo--effect7 {
  animation: pop-in 2.72s step-end forwards;
}

.logo--effect8 {
  animation: pop-in 2.83s step-end forwards;
}

.logo--effect9 {
  animation: pop-in 3.1s step-end forwards;
}

.logo--effect10 {
  animation: pop-in 3.25s step-end forwards, blink 1.1s linear 2.9s 5 forwards;
}

.logo--effect:hover {
  animation: none;
  color: #000;
  filter: none;
}

.logo__glitch {
  align-items: center;
  color: #eff8ff;
  height: auto;
  justify-content: center;
  pointer-events: none;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: auto;
}

.logo__glitch:after {
  animation: noise-anim 5s linear 3.25s 2 alternate-reverse;
  background: inherit;
  clip: rect(0, 900px, 0, 0);
  color: #b9b9b9;
  content: attr(data-text);
  left: 2px;
  overflow: hidden;
  position: absolute;
  text-shadow: -1px 0 #149;
  top: 0;
}

.logo__glitch:before {
  animation: noise-anim-2 5s linear 3.25s 2 alternate-reverse;
  background: inherit;
  clip: rect(0, 900px, 0, 0);
  color: white;
  content: attr(data-text);
  left: -2px;
  overflow: hidden;
  position: absolute;
  text-shadow: 2px 0 #744499;
  top: 0;
}

.text--electric-blue-glow {
  color: #eff8ff;
  filter: drop-shadow(0 0 1px #fff8) drop-shadow(0 0 5px #fffa) drop-shadow(0 0 10px #228dffcc);
}

@keyframes blink {
  0% {
    color: #000;
    filter: none;
  }
  40% {
    color: #000;
    filter: none;
  }
  41% {
    color: #fff;
    filter: drop-shadow(0 0 1px #fff8) drop-shadow(0 0 5px #fffa) drop-shadow(0 0 10px #228dffcc);
  }
  100% {
    color: #fff;
    filter: drop-shadow(0 0 1px #fff8) drop-shadow(0 0 5px #fffa) drop-shadow(0 0 10px #228dffcc);
  }
}

@keyframes neon {
  from {
      filter: drop-shadow(0 0 1px #fff8) drop-shadow(0 0 5px #fffa) drop-shadow(0 0 10px #228dffcc);
    //text-shadow: 0 0 7px #fff8, 0 0 15px #fffa, 0 0 25px #228dffcc;
  }
  to {
      filter: drop-shadow(0 0 1px #fff8) drop-shadow(0 0 5px #fffa) drop-shadow(0 0 10px #228dffcc);
    //text-shadow: 0 0 6px #fff8, 0 0 15px #fffa, 0 0 25px #228dffcc;
  }
}

@keyframes neon-fadeout {
  from {
    filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 3px #fff) drop-shadow(0 0 6px #fff) drop-shadow(0 0 7px #228dff88);
  }
  to {
    color: #000;
    filter: none;
  }
}

@keyframes noise-anim {
  $steps: 10;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}

@keyframes noise-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}

@keyframes pop-in {
  from {
    opacity: .5;
    color: #000;
    filter: none;
  }
  to {
    opacity: 1;
    filter: drop-shadow(0 0 1px #fff8) drop-shadow(0 0 5px #fffa) drop-shadow(0 0 10px #228dffcc);
  }
}